body {
    margin: 0;
    padding: 0;
    display: border-box;
}
.container {
    display: grid;
    gap:10px;
    grid-template-columns: auto auto auto;
}
.container>div {
    min-height: 200px;
    background-color: turquoise;
    padding: 20px 0;
}


.box_2 {
    
    border:1px solid red;
    grid-column:  2/ 4;
    grid-row: 1 / 3;
    
    background-color: rgb(70, 218, 57) !important;
}


@media(max-width:768px)
{

    
}